%container-center {
  display: flex;
  place-content: center center;
}

//desktop-layout

%profile-layout {
  width: 94%;
  height: 90%;
  margin: 0 3%;
}

%about-cont {
  width: 90%;
  height: 20%;
  margin: 2.5% 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

%title {
  height: 100%;
  width: 10%;
  background-color: $yellow;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  font: {
    size: 1vmax;
    weight: 700;
  }
}

%black-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: auto;
}

%black-contents {
  width: 90%;
  height: 80vmax;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

%skill-item {
  width: 60%;
  height: 60%;
  background-color: $yellow;
  border-radius: 50%;
  position: absolute;
}
