$black: #1c1c1c;
$yellow: #fed000;
$font-black: #333334;
$font-white: #fceed3;

//layout

$header-height: 70px;

// responsive

$desktop: "desktop";
$laptop: "laptop";
$tablet: "tablet";
$phone: "phone";
