// 포트폴리오 컬러 지정

$mainColor: #1c1c1c;
$subColor: #fed000;
$fontColor: #333334; //subColor 배경시
$fontColor2: #fceed3; //mainColor 배경시

// font

@import url("https://fonts.googleapis.com/css?family=Jua&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap");

@font-face {
  font-family: "BMEULJIRO";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/BMEULJIRO.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "DungGeunMo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "YiSunShinDotumM";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/YiSunShinDotumM.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

// title-minin

@mixin sub-title($bgColor, $fontColor) {
  margin-left: 50px;
  margin-bottom: 70px;
  .sub-title {
    width: 100px;
    height: 30px;
    line-height: 30px;
    color: $fontColor;
    background-color: $bgColor;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
  }
}

// wrap
.wrap {
  margin: 0 40px;
}

// main-profile
.main-profile {
  width: 100%;
  position: relative;
  background-color: $mainColor;
  margin-top: 160px;
  padding: 950px 0 100px 200px;
  .profile__title {
    width: 750px;
    height: 450px;
    padding: 30px;
    background-color: $subColor;
    position: absolute;
    top: 320px;
    right: 660px;
    z-index: 10;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    color: $fontColor;
    .title__position {
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 20px;
    }
    .title__name {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      flex-direction: column;
      font: {
        family: "Playfair Display", serif;
        size: 100px;
        weight: 700;
      }
      margin-bottom: 20px;
    }
    .title__desc {
      font: {
        family: "YiSunShinDotumM", sans-serif;
        size: 20px;
      }
    }
  }
  //profile__title end

  .profile__photo {
    width: 800px;
    height: 1000px;
    background: {
      image: url(../images/black.jpg);
      size: cover;
      position: bottom right;
    }
    position: absolute;
    top: -160px;
    right: 40px;

    &::after {
      content: "";
      width: 7px;
      height: 100%;
      background-color: $subColor;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
  // profile__photo end

  .profile__about {
    .about__title {
      width: 90%;
      display: flex;
      flex-direction: column;
      @include sub-title($subColor, $fontColor);
    }
  }
  // about__title end
  .about__contents {
    color: $fontColor2;
    display: flex;
    // justify-content: space-between;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    margin-left: 10px;
    font : {
      family: "YiSunShinDotumM", sans-serif;
    }

    .cont {
      width: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 100px;

      .cont__photo {
        width: 400px;
        height: 300px;
        .photo {
          width: 100%;
          height: 100%;
          background-color: $subColor;
        }
      }

      .cont__desc {
        width: 60%;
        height: 300px;
        .title {
          font : {
            size: 40px;
            weight: 700;
          }
          margin-bottom: 20px;
        }
        // contents__title end

        .date {
          font : {
            size: 20px;
          }
          margin-bottom: 20px;
        }
        // contents__title end

        .desc {
          font : {
            size: 24px;
            weight: 500;
            family: "Playfair Display", serif;
          }
          line-height: 150%;
        }
      }
    }

    .contents__cont1 {
      @extend .cont;
    }
    .contents__cont2 {
      @extend .cont;
    }
    .contents__cont3 {
      @extend .cont;
    }
    .contents__cont4 {
      @extend .cont;
    }
  }
}
//profile__about end

.profile__skill {
  .skill__title {
    width: 90%;
    display: flex;
    flex-direction: column;
    @include sub-title($subColor, $fontColor);
  }

  .skill__contents {
    color: $fontColor2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;

    margin-left: 10px;

    font : {
      family: "YiSunShinDotumM", sans-serif;
    }
    .contents__container {
      width: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      .skill__component {
        width: 350px;
        height: 350px;
        margin: 30px;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        padding-top: 20px;
        &:hover {
          .skill__img {
            filter: none;
          }
        }
        .skill__img {
          width: 100px;
          height: 100px;
          position: relative;
          filter: grayscale(100%);

          &::after {
            position: absolute;
            top: 30px;
            right: -200px;
            content: "90%";
            font: {
              size: 70px;
              weight: 700;
            }
          }
        }
        .logo1 {
          background: {
            image: url(../images/logo/html5.svg);
            size: contain;
            position: center center;
            repeat: no-repeat;
          }
        }
        .logo2 {
          background: {
            image: url(../images/logo/css3.svg);
            size: contain;
            position: center center;
            repeat: no-repeat;
          }
        }
        .logo3 {
          background: {
            image: url(../images/logo/logo-javascript.svg);
            size: contain;
            position: center center;
            repeat: no-repeat;
          }
        }
        .logo4 {
          background: {
            image: url(../images/logo/react.svg);
            size: contain;
            position: center center;
            repeat: no-repeat;
          }
        }
        .logo5 {
          background: {
            image: url(../images/logo/typescript.svg);
            size: contain;
            position: center center;
            repeat: no-repeat;
          }
        }
        .logo6 {
          background: {
            image: url(../images/logo/graphql.svg);
            size: contain;
            position: center center;
            repeat: no-repeat;
          }
        }
        .skill__desc {
          margin-left: 20px;
          .title {
            margin-bottom: 20px;
            font: {
              size: 30px;
              weight: 700;
            }
          }
          font: {
            size: 20px;
            weight: 700;
          }
        }
      }
    }
  }
}
//profile end
