// import

@import "./varibles";
@import "./layout";
@import "./mixin";
@import "./reset.scss";

// mixin

// layout

.wrap-container {
  width: 1200px;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
}

.bgBlock {
  @include bg($black);
}

// header - page top
.header {
  @extend %container-center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: $header-height;
  background-color: rgba(255, 255, 255, 0.4);
  .nav {
  } //nav-end
} //header-end
.intro {
  @include header-margin($header-height);
  @extend %container-center;
  @extend %profile-layout;

  .container {
    position: relative;
    .intro_photo {
      position: absolute;
      right: 50px;
      top: -$header-height;
      width: 30vw;
      height: 50vh;
      img {
        width: 100%;
      }
    }
  }
} //intro-end
.about {
  @extend %container-center;
  @extend %profile-layout;
} //about-end
.skill {
  @extend %container-center;
  @extend %profile-layout;
} //skill-end
.project {
  @extend %container-center;
} //project-end
.mini {
  @extend %container-center;
} //mini-end
.contact {
  @extend %container-center;
} //contact-end
