@import "./reset5.scss";

// layout

.page {
  will-change: transform;
}

#header {
}
#sec1 {
  position: relative;
  min-height: 100vh;
  margin-bottom: 11.25rem;
} //intro
#sec2 {
  min-height: 100vh;
}
#sec3 {
}
#sec4 {
}
#sec5 {
}
#footer {
}

.container {
  position: relative;
}

.grid {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-left: -5rem;
}

.quarter,
.three-quarters,
.half,
.third {
  padding-left: 5rem;
}

.quarter {
  width: 25%;
}

.three-quarters {
  width: 75%;
}
.half {
  width: 50%;
}

.third {
  width: 33.3333%;
}

// intro

.intro_fixed {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  will-change: transform;
  .container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  } //container
} //intro_fixed

.intro_title {
  font-size: 5.714vw;
  text-align: center;
}

.intro_fixed.on-top {
  z-index: 3;
}

.intro_img {
  position: absolute;
  bottom: 5.6vw;
  left: 50.0571428571vw;
  will-change: transform;
}

.intro_img_wrap {
  position: absolute;
  left: 50%;
  bottom: 50%;
  width: 25.1428571429vw;
  height: 14.1142857143vw;
  overflow: hidden;
  .img {
    width: 100%;
    height: 100%;
    background: {
      image: url("../img/intro1.jpg");
      size: cover;
      position: center center;
    }
  }
} //intro_img_wrap

.intro_btn_wrap {
  z-index: 4;
  text-align: center;
} //intro_btn_wrap

.intro_btn {
  text-align: center;
  display: inline-block;
  background-color: transparent;
  &:before {
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px;
    content: "";
    border-radius: 50%;
    transition: opacity 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
    opacity: 0;
  }
  &:hover:before {
    opacity: 1;
  }
  &:hover {
    .btn_label_text {
      span {
        transform: translate3d(0, -1.5625rem, 0);
      }
    }
  }
} //intro_btn

.btn_label {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 4.375rem;
  height: 6.25rem;
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font: {
    size: 1.187rem;
  }
} //btn_label

.btn_label_text {
  display: inline-block;
  transition: transform 1.2s cubic-bezier(0.075, 0.82, 0.165, 1),
    -webkit-transform 1.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: translate3d(0, 102%, 0);
  span {
    display: inline-block;
    position: relative;
    transition: transform 0.6s cubic-bezier(0.075, 0.82, 0.165, 1),
      -webkit-transform 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
    &:nth-child(2) {
      transition-delay: 0.1s;
    }
  }
}

.btn_circle {
  overflow: hidden;
  width: 13.75rem;
  height: 13.75rem;
  margin-top: -6.875rem;
  margin-left: -6.875rem;
  position: absolute;
  top: 50%;
  left: 50%;
  .btn_circle_path {
    fill: none;
    stroke-dasharray: 308;
    stroke-dashoffset: -308;
    stroke-width: 0.5;

    transition: stroke 0.3s cubic-bezier(0.075, 0.82, 0.165, 1),
      opacity 0.3s 2.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
} //btn_circle

/*
 *
 *
 * Theme Color
 *
 */

$white: #ebeded;
$red: #e83c38;
$green: #00a19a;
$green2: #a6d1c9;
$black: #282b29;
$pink: #f4c4c4;

.theme-1 {
  .page {
    color: $red;
    background-color: $white;
  }
  .intro_btn {
    &:before {
      background-color: $white;
    }
  }
  .btn_circle_path {
    stroke: $red;
  }
}

.theme-2 {
  .page {
    color: $white;
    background-color: $green;
  }
}

/*
 *
 * DOM is Laaded
 *
 */

.dom-is-loaded {
  .img_anim.is-show {
    pointer-events: auto;
    opacity: 1;
    transform: perspective(1000px) rotateX(0);
  } //about_img_anim
  .intro.is-show {
    .btn_circle_path {
      animation: animCircle 2s 2.4s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    } //btn_circle_path

    .btn_label_text {
      transition-delay: 2.8s;
      transform: translate3d(0, 0, 0);
    } //btn_label_text
  } //intro.is-show
}

//key frame

@keyframes animCircle {
  0% {
    stroke-dashoffset: -308;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

//media query

@media (max-width: 1999px) and (min-width: 1600px) {
  html {
    font-size: 13px;
  }
} //media 1600px ~ 1999px;

@media (min-width: 1000px) {
  .intro_btn_wrap {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding-bottom: 2.5rem;
  } //intro_btn_wrap
  .intro_btn {
    width: 13.75rem;
    height: 13.75rem;
    transform: translate3d(0, 3.4vw, 0);
  } //intro_btn
}
