@import "./reset.scss";

//color

$white: #ebeded;
$red: #e83c38;
$green: #00a19a;
$green2: #a6d1c9;
$black: #282b29;
$pink: #f4c4c4;

//variables

$dhfz: 1.1875rem; //desktop header font size

$dcp: 2.5rem; // desktop container padding
$mcp: 40px; // mobile container padding

$dafz: 1.8rem; // desktop about font size
$mafz: 30px; //mobile about font size

$mainEase: cubic-bezier(0.075, 0.82, 0.165, 1);

#page-background {
  background-color: $white;
  color: $red;
  transform-origin: top left;
}

.scroll_show {
  position: fixed;
  left: 10px;
  top: 10px;
  z-index: 10000;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  line-height: 40px;
}

.page-background-anim {
  transition: transform 1.6s 0.6s cubic-bezier(0.075, 0.82, 0.165, 1),
    opacity 1.6s 0s cubic-bezier(0.075, 0.82, 0.165, 1),
    -webkit-transform 1.6s 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

// layout
.container {
  position: relative;
}

.flex {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-left: -5rem;
}
.quarter,
.three-quarters,
.half,
.third {
  padding-left: 5rem;
}

.quarter {
  width: 25%;
}

.three-quarters {
  width: 75%;
}

.half {
  width: 50%;
}

.img_anim {
  opacity: 0;
  pointer-events: none;
  transform: perspective(1000px) rotateX(-90deg);
  transform-origin: top center;
  transition: transform 1.6s cubic-bezier(0.075, 0.82, 0.165, 1),
    opacity 0.3s cubic-bezier(0.075, 0.82, 0.165, 1),
    -webkit-transform 1.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-delay: 0.3s;
}

#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  transition: transform 1.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#section1 {
  position: relative;
  min-height: 100vh;
  margin-bottom: 11.25rem;
}

#section2 {
  position: relative;
  z-index: 5;
}

//header

#header.hide {
  transform: translate3d(0, -102%, 0);
}

.header_stroke {
  &:before {
    top: 0;
    bottom: 0;
    right: $dcp;
    left: $dcp;
    position: absolute;
    content: "";
    background-color: $white;
    border-bottom: 1px solid $red;
    transform: translate3d(0, -102%, 0);
    transition: transform 1.2s cubic-bezier(0.075, 0.82, 0.165, 1),
      background 0.6s cubic-bezier(0.075, 0.82, 0.165, 1),
      border 0.6s cubic-bezier(0.075, 0.82, 0.165, 1),
      -webkit-transform 1.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
} //header_stroke

.header_contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
} //header-contents

.header_list {
  margin-left: -0.5vw;
  display: flex;

  .header_item {
    position: relative;
    &:not(:last-child):before {
      position: absolute;
      top: 40%;
      right: 0;
      width: 1px;
      height: 0.8vw;
      background-color: $red;
      content: "";
    }
    .item_link {
      text-transform: uppercase;
      padding: 2.5rem 0.75rem;
      display: inline-block;
      font: {
        family: "Karla", sans-serif;
        size: 1.1875rem;
      }
    } //item_link
  } //header_item
} //header_list

.header_portfolio {
  text-transform: uppercase;
  font: {
    family: "Karla", sans-serif;
    size: 1.1875rem;
  }
}

// sec1

.intro {
  position: relative;
}

.intro_fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  .container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
} //sec1_fixed

.intro_fixed.hide {
  position: absolute;
}

.on_top {
  z-index: 3;
} //on-top

.intro_title_wrap {
  text-align: center;
  transform: translate3d(0, 3.1428571429vw, 0);
  transition: transform 0.9s cubic-bezier(0.075, 0.82, 0.165, 1),
    -webkit-transform 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
  transition-delay: 1.8s;
}

.intro_title {
  color: $red;
  text-transform: uppercase;
  line-height: 1.1;
  font: {
    family: Perpetua Titling MT;
    size: 5.7vw;
    weight: 300;
  }
  .intro_title_line {
    &:nth-child(1) {
      opacity: 0;
      transform: translate3d(0, 3.1428571429vw, 0);
      transition: transform 0.9s cubic-bezier(0.075, 0.82, 0.165, 1),
        -webkit-transform 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
      transition-delay: 0.9s;
      span {
        transition-delay: 0.3s;
      }
    }
    &:nth-child(2) {
      opacity: 1;
      span {
        transition-delay: 1.2s;
      }
    }
    &:nth-child(3) {
      opacity: 0;
      span {
        transition-delay: 2.1s;
      }
    }
    span {
      display: inline-block;
      transform: scale3d(1, 0, 0);
      transition: transform 0.9s cubic-bezier(0.075, 0.82, 0.165, 1),
        opacity 0.3s cubic-bezier(0.075, 0.82, 0.165, 1),
        -webkit-transform 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
    } //span
  } //sec1_title_line
}

.on_top {
  .intro_title_line {
    &:nth-child(1) {
      opacity: 1;
    }
    &:nth-child(2) {
      opacity: 0;
    }
    &:nth-child(3) {
      opacity: 1;
    }
  } //sec1_title_line
} //on-top

.intro_img {
  position: absolute;
  left: 50vw;
  bottom: 5.6vw;
  z-index: 2;
  .img_anim {
    transition-delay: 2.8s;
  }
} //intro_img

.intro_img_wrap {
  position: absolute;
  left: 50%;
  bottom: 50%;
  width: 25vw;
  height: 14vw;
  z-index: -4;
  .img {
    width: 100%;
    height: 100%;
    background: {
      image: url(../img/intro4.jpg);
      size: cover;
      position: center center;
    }
    transition: background 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
} //intro_img_wrap

.intro_btn_wrap {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 1.2vw;
  z-index: 4;
  text-align: center;
  .intro_btn {
    width: 13.75rem;
    height: 13.75rem;
    transform: translate3d(0, 3.4vw, 0);
    text-align: center;
    display: inline-block;
    background-color: transparent;
    &:before {
      position: absolute;
      top: 2px;
      right: 2px;
      bottom: 2px;
      left: 2px;
      content: "";
      border-radius: 50%;
      background-color: $white;
      transition: opacity 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
      opacity: 0;
    }
    &:hover:before {
      opacity: 1;
    }
    &:hover {
      .btn_label_text {
        span {
          transform: translate3d(0, -1.5625rem, 0);
        }
      }
    }
  } //intro_btn
} //intro_btn_wrap

.intro_btn {
  position: relative;
  vertical-align: middle;
} //intro_btn

.btn_label {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 4.375rem;
  height: 6.25rem;
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font: {
    size: 1.187rem;
  }
} //btn_label

.btn_label_text {
  display: inline-block;
  transition: transform 1.2s cubic-bezier(0.075, 0.82, 0.165, 1),
    -webkit-transform 1.2s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: translate3d(0, 102%, 0);
  span {
    display: inline-block;
    position: relative;
    transition: transform 0.6s cubic-bezier(0.075, 0.82, 0.165, 1),
      -webkit-transform 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
    &:nth-child(2) {
      transition-delay: 0.1s;
    }
  }
}

.btn_circle {
  overflow: hidden;
  width: 13.75rem;
  height: 13.75rem;
  margin-top: -6.875rem;
  margin-left: -6.875rem;
  position: absolute;
  top: 50%;
  left: 50%;
  .btn_circle_path {
    fill: none;
    stroke: $red;
    stroke-dasharray: 308;
    stroke-dashoffset: -308;
    stroke-width: 0.5;

    transition: stroke 0.3s cubic-bezier(0.075, 0.82, 0.165, 1),
      opacity 0.3s 2.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
} //btn_circle

//section2

.sec2_contents {
  display: flex;
  justify-content: flex-end;
  .sec2_right {
    width: 75%;
    padding-left: 3vw;
  }
}

.sec_bg {
  background-color: $white;
  transition: background 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

// section2 - about

.about {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    z-index: 2;
    background-color: $red;
    transition: background 0.6s cubic-bezier(0.075, 0.82, 0.165, 1),
      transform 0.9s cubic-bezier(0.075, 0.82, 0.165, 1),
      -webkit-transform 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
} //about

.about_flex {
  display: flex;
  .about_right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
} //about_grid

.about_img_wrap {
  //overflow: hidden;
  .img {
    width: 100%;

    // background: {
    //   image: url("../img/me2.jpg");
    //   size: cover;
    //   position: center center;
    // }
  } //img
} //about_img_wrap

.about_text {
  padding-right: 8vw;
  margin-bottom: 3.125rem;
  font : {
    family: "S-CoreDream-2ExtraLight";
  }
  .about_desc {
    line-height: 1.7;
    font : {
      size: $dafz;
      weight: 700;
    }
  }
}

//section2 - skill

.skill {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    z-index: 2;
    background-color: $red;
    transition: background 0.6s cubic-bezier(0.075, 0.82, 0.165, 1),
      transform 0.9s cubic-bezier(0.075, 0.82, 0.165, 1),
      -webkit-transform 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .sec_bg {
    padding-top: 15vw;
  }
  .grid {
    height: 100vh;
  }
} //skill

.skill_title {
  max-width: 58vw; //54vw
  margin-left: 12.5vw;
  padding-bottom: 4.5vw;
  font : {
    family: Perpetua Titling MT;
    size: 5.7vw;
  }
} //skill_title

.skill_contents {
  height: 100vh;
  .title {
    position: relative;
    padding: 1.2vw 0;

    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      height: 1px;
      background-color: $red;
      transform: scale3d(0, 1, 1);
      transform-origin: left center;
      transition: background 0.6s cubic-bezier(0.075, 0.82, 0.165, 1),
        transform 0.9s cubic-bezier(0.075, 0.82, 0.165, 1),
        -webkit-transform 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    &:before {
      top: 0;
    }
    &:after {
      bottom: 0;
    }
    h3 {
      text-transform: uppercase;
      font: {
        family: "Karla", sans-serif;
        size: 1.625rem;
      }
    }
  }
}

.skill_list {
  display: flex;
  flex-wrap: wrap;
  .skill_item_wrap {
    width: 50%;
    display: flex;
    align-items: center;
  } //skill_item
} //skill_list

.skill_item_wrap {
  position: relative;
  &:before {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 1px;
    content: "";
    background-color: $red;
    transform: scale3d(0, 1, 1);
    transform-origin: right center;
    transition: transform 0.9s 0.3s cubic-bezier(0.075, 0.82, 0.165, 1),
      background 0.3s cubic-bezier(0.075, 0.82, 0.165, 1),
      -webkit-transform 0.9s 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  &:nth-child(2n) {
    .skill_item {
      padding: 3.4vw 1vw 3.4vw 10.6vw;
      .item_logo {
        left: 2.8vw;
      }
    } //skill_item
  }

  &:nth-child(2n):before {
    transform-origin: left center;
  }

  &:nth-child(2n-1):after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 1px;
    content: "";
    background-color: $red;
    transform: scale3d(1, 0, 1);
    //transform-origin: top center;
    transition: transform 0.9s 0.3s cubic-bezier(0.075, 0.82, 0.165, 1),
      background 0.3s cubic-bezier(0.075, 0.82, 0.165, 1),
      -webkit-transform 0.9s 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
} //skill_item_wrap

.skill_item {
  position: relative;
  padding: 3.4vw 2.8vw 3.4vw 8.7vw;
  transform: scale(0.9);
  transition: transform 0.9s cubic-bezier(0.075, 0.82, 0.165, 1),
    background 0.3s cubic-bezier(0.075, 0.82, 0.165, 1),
    color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

  &:hover {
    background-color: $red;
    color: $white;
    transform: scale(1.1);
  }
} //skill_item

.item_logo {
  position: absolute;
  left: 1vw;
  top: 3.4vw;
  width: 5vw;
  height: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
  font: {
    family: Karla, Helvetica, Arial, sans-serif;
    size: 5vw;
  }
} //item_logo

.item_text {
  .item_name {
    margin-bottom: 1.2vw;
    font: {
      family: "Perpetua Titling MT";
      size: 1.625rem;
    }
  } //item_name
  .item_desc {
    font: {
      family: Karla, Helvetica, Arial, sans-serif;
      size: 1.1875rem;
    }
  }
} //item_text

//section2 - project

.project {
  position: relative;

  //overflow:hidden
  &:before,
  &:after {
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    content: "";
    transition: transform 1.2s cubic-bezier(0.075, 0.82, 0.165, 1),
      background 0.9s cubic-bezier(0.075, 0.82, 0.165, 1),
      -webkit-transform 1.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: $red;
  }
  &:before {
    top: 0;
    transform-origin: right center;
  }
  &:after {
    bottom: 0;
    transform-origin: left center;
  }
  .sec_bg {
    padding-bottom: 6.25rem;
  }
} //project

.project_header {
  width: 100%;
  height: 100vh;
  padding-top: 6rem;
  margin-bottom: -7.5rem;

  position: relative;
  .project_title_wrap {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .project_title {
      font : {
        size: 5.7vw;
      }
      span {
        display: block;
      }
    } //project_title
  } //project_title_wrap
} //project_header

.project_list {
  margin: 0;
  pointer-events: none;
  display: flex;
  flex-wrap: wrap;
  .project_item {
    position: relative;
    margin-bottom: 7.5rem;
    width: 50%;
  } //project_item
} //project_list

.project_item {
  &:nth-child(1) {
    padding-left: 4.57vw;
    padding-right: 4.57vw;
  }
  &:nth-child(2) {
    padding-left: 11.4vw;
  }
  &:nth-child(3) {
    padding-left: 11.4vw;
  }
  &:nth-child(4) {
    padding-left: 5.7vw;
    padding-right: 11.4vw;
  }
} //project_item

.project_link {
  display: block;
  position: relative;
  //overflow: hidden;
  pointer-events: auto;
} //project_link

.project_img {
  padding-top: 2.5rem;
  .project_img_wrap {
    position: relative;
    transform: center center;
    .img {
      width: 100%;
      vertical-align: middle;
    }
  } //project_img_wrap
} //project_img

.project_item_title {
  position: relative;
  background-color: $white;
  &:before {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    content: "";
    height: 1px;
    background-color: $red;
  }
  .project_title_normal {
    padding: 2.125rem 0;
    font: {
      size: 1.18rem;
    }
  }
}

//mini

.mini {
  background-color: $white;
  padding-top: 17.5rem;
}

.mini_list {
  display: flex;
  flex-wrap: wrap;
  .mini_item {
    width: 50%;

    position: relative;

    &:nth-child(2n):before {
      background-color: $red;
      position: absolute;
      top: 0;
      bottom: 0;
      left: -1px;
      width: 1px;
      content: "";
      transition: transform 0.9s 0.3s cubic-bezier(0.075, 0.82, 0.165, 1),
        background 0.3s cubic-bezier(0.075, 0.82, 0.165, 1),
        -webkit-transform 0.9s 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    &:nth-child(2n-1):before {
      background-color: $red;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 1px;
      content: "";
      transition: transform 0.9s 0.3s cubic-bezier(0.075, 0.82, 0.165, 1),
        background 0.3s cubic-bezier(0.075, 0.82, 0.165, 1),
        -webkit-transform 0.9s 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    &:after {
      bottom: 0;
      left: 0;
      right: 0;
      content: "";
      height: 1px;
      position: absolute;
      transform: scale3d(1, 1, 1);
      background-color: $red;
    }
    &:nth-child(1):before {
      display: none;
    }
    &.item_blank {
      background-color: transparent;
      min-height: 26vw;
      &:before,
      &:after {
        display: none;
      }
    } //item_blank

    &.item_last {
      background-color: transparent;
      &:before,
      &:after {
        display: none;
      }
    }
    &:nth-child(2) {
      .mini_link {
        &:before {
          top: 0;
          left: 0;
          right: 0;
          content: "";
          height: 1px;
          position: absolute;
          transform: scale3d(1, 1, 1);
          background-color: $red;
        }
      }
    }
  } //mini-item
} //mini_list

.mini_text {
  min-height: 26vw;
  display: flex;
  align-items: center;
  .mini_text_title {
    line-height: 1.1;
    font: {
      family: "S-CoreDream-2ExtraLight";
      size: 1.3rem;
      weight: bolder;
    }

    strong {
      display: block;
      margin-bottom: 0.625rem;
      font: {
        family: "Perpetua Titling MT";
        size: 2.5rem;
        weight: bolder;
      }
    }
  }
}

.mini_item.item_last {
  .mini_text {
    padding-left: 2.5rem;
  }
}

.mini_link {
  display: block;
  position: relative;
  overflow: hidden;
}
.mini_img {
  padding-top: 2.5rem;
  .mini_img_wrap {
    position: relative;
    transform-origin: center center;
    .img_anim {
      opacity: 1;
      transform: none;
    }
    img {
      width: 100%;
      transition: transform 2.4s cubic-bezier(0.075, 0.82, 0.165, 1),
        -webkit-transform 2.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
  }
} //mini_img

.mini_title {
  padding: 2.125rem 0;
  font: {
    family: Karla, Helvetica, Arial, sans-serif;
    size: 1.185rem;
  }
} //mini_title

.mini_item {
  &:nth-child(2n) {
    .mini_img {
      padding-left: 2.5rem;
    }
    .mini_title {
      padding-left: 2.5rem;
    }
  }
  &:nth-child(2n-1) {
    .mini_img {
      padding-right: 2.5rem;
    }
    .mini_title {
      padding-right: 2.5rem;
    }
  }
}

//footer - contact

.contact {
  background-color: $white;
  .contact_wrap {
    overflow: hidden;
    position: relative;
  }
  .sec_bg {
    z-index: 6;
  }
}

.contact_spin {
  animation-play-state: paused;
  position: absolute;
  left: 10.2857142857vw;
  top: -22.8571428571vw;
  animation: spin 48s infinite linear;
  svg {
    width: 97.1428571429vw;
    height: 97.1428571429vw;
    path {
      fill: $red;
      transition: fill 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.contact_spin_wrap {
  transition: transform 1.4s cubic-bezier(0.075, 0.82, 0.165, 1),
    opacity 1.4s cubic-bezier(0.075, 0.82, 0.165, 1);
  transform: scale3d(0.5, 0.5, 1);
  transition-delay: 0.4s;
  opacity: 0;
}

.contact_spin.contact_open {
  animation-play-state: running;
  .contact_spin_wrap {
    transition-delay: 0.2s;
    transform: scale3d(1, 1, 1);
    opacity: 1;
  }
}

.contact_text {
  height: 100vh;
  padding: 8.75rem 17.11vw 5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contact_title {
  font: {
    size: 2.125rem;
  }
} //contact_title

.third {
  width: 33.33333%;
}

.contact_address {
  margin: 5rem 0;
  padding: 3.75rem 0;
  position: relative;
  display: flex;
  line-height: 1.3;

  &:before,
  &:after {
    position: absolute;
    right: 0;
    left: 0;
    height: 1px;
    content: "";
    background-color: $red;
  }
  &:before {
    top: 0;
  }
  &:after {
    bottom: 0;
  }
  .flex {
    width: 100%;
  }
}

.address_text {
  line-height: 1.3;
  text-transform: uppercase;
  font: {
    family: Karla, Helvetica, Arial, sans-serif;
    size: 1.1rem;
    weight: bolder;
  }
  a {
    display: block;
  }
}
.email {
  display: flex;
  line-height: 1.3;
  .flex {
    width: 100%;
  }
}

.email_text {
  padding-top: 6.857vw;
  line-height: 1.3;
  text-transform: uppercase;
  position: relative;

  font: {
    family: Karla, Helvetica, Arial, sans-serif;
    size: 1.1rem;
    weight: bolder;
  }
  a {
    display: block;
  }
} //email_text

.email_spin {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
  .email_spin_wrap {
    transform: scale3d(0.5, 0.5, 1);
    transition: transform 0.9s cubic-bezier(0.075, 0.82, 0.165, 1),
      opacity 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
    opacity: 0;
    transition-delay: 0.4s;
    svg {
      width: 40vw;
      height: 40vw;
      transition: fill 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
      fill: $red;
      animation: spin 38s infinite linear;
      animation-play-state: paused;
      .st0 {
        fill: none;
      }
    }
  }
} //email_spin

.email_spin.contact_open {
  .email_spin_wrap {
    transition-delay: 1s;
    opacity: 1;
    transform: scale3d(1, 1, 1);
    svg {
      animation-play-state: running;
    }
  }
}

/*
 * ----------------------------------------------
 * Effect port 
 * ----------------------------------------------
 */
//is-show

.is-show {
  .header_stroke {
    &:before {
      transform: translate3d(0, 0, 0);
    }
  } //header_stroke
} //is-show

//media query

//media 1600px ~ 1999px part

@media (max-width: 1999px) and (min-width: 1600px) {
  html {
    font-size: 13px;
  }
} //media 1600px ~ 1999px;

//media 1200px ~ 1599px part

@media (max-width: 1599px) and (min-width: 1200px) {
  html {
    font-size: 12px;
  }
}

//media 1000px ~ 1199px part

@media (max-width: 1199px) and (min-width: 1000px) {
  html {
    font-size: 11px;
  }
}

//media 700px ~ 999rpx part

@media (max-width: 999px) and (min-width: 700px) {
  html {
    font-size: 12px;
  } //html

  .flex {
    position: relative;
    margin-left: -5rem;
    letter-spacing: normal;
    font-size: 0;
    display: block;
  }

  .three-quarters {
    width: 100%;
  }

  //header part

  .header

  //about part
  .about_text {
    .about_desc {
      font : {
        size: $mafz;
      }
    }
  }
}

@media (min-width: 1000px) {
  .container {
    padding: 0 $dcp;
  }
}

//mobile

@media (max-width: 999px) {
  //section 1 part

  #section1 {
    margin: 0;
  }

  .intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 100px 0;
  }

  .intro_fixed {
    position: static;
    display: none;
    .container {
      height: auto;
    }
  }
  .intro_fixed.on_top {
    display: block;
  }
  .on_top {
    .intro_title {
      .intro_title_line {
        opacity: 1;
      }
    }
  } //on_top
  .intro_img {
    position: static;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-right: 40px;
    margin-top: -40px;
    margin-bottom: -60px;
  }
  .intro_img_wrap {
    position: static;
    width: auto;
    height: auto;
  }
}

@media (max-width: 999px) and (min-width: 500px) {
  .container {
    padding: 0 $mcp;
  } //container
  .header_stroke {
    &:before {
      right: $mcp;
      left: $mcp;
      transform: translate3d(0, 0, 0);
    }
  } //header_stroke

  .header_main {
    width: 100%;
  }

  .header_list {
    justify-content: space-between;
    .header_item {
      &:before {
        display: none;
      }
      .item_link {
        padding: 20px 0;
        font-size: 16px;
      }
    }
  }

  .header_portfolio {
    display: none;
  }
}

//is loaded

.is-loaded {
  .intro_title_wrap {
    transform: translate3d(0, 0, 0);
    .intro_title_line {
      &:nth-child(1) {
        transform: translate3d(0, 0, 0);
      }
      span {
        transform: scale3d(1, 1, 1);
      }
    }
  } //intro_title_wrap
  .img_anim.is-show {
    pointer-events: auto;
    opacity: 1;
    transform: perspective(1000px) rotateX(0);
  } //about_img_anim
  .intro.is-show {
    .btn_circle_path {
      animation: animCircle 2s 2.4s cubic-bezier(0.075, 0.82, 0.165, 1) forwards;
    } //btn_circle_path

    .btn_label_text {
      transition-delay: 2.8s;
      transform: translate3d(0, 0, 0);
    } //btn_label_text
  } //intro.is-show
  .project_title_wrap.sticky {
    position: fixed;
    left: 0;
    top: 0;
  } //project_header.sticky
  .skill_contents {
    .title.is-show {
      &:before,
      &:after {
        transform: scale3d(1, 1, 1);
      }
    }
  } //skill_contents
  .skill_item_wrap.is-show {
    &:before {
      transform: scale3d(1, 1, 1);
    }
    &:after {
      transform: scale3d(1, 1, 1);
    }
  }
} //is-loaded

@keyframes animCircle {
  0% {
    stroke-dashoffset: -308;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
