@import "./reset.scss";

//color

$white: #ebeded;
$red: #e83c38;

#page-background {
  background-color: $white;
  color: $red;
}

//font

@font-face {
  font-family: "Perpetua Titling MT";
  src: url(../fonts/PerpetuaTitlingMT-Light.woff2) format("woff2"),
    url(../fonts/PerpetuaTitlingMT-Light.woff) format("woff");
  font-weight: 300;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css?family=Karla&display=swap");

.scroll_show {
  position: fixed;
  left: 10px;
  top: 10px;
  z-index: 10000;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  line-height: 40px;
}

.page-background-anim {
  transition: transform 1.6s 0.6s cubic-bezier(0.075, 0.82, 0.165, 1),
    opacity 1.6s 0s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 1.6s 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

// layout
.container {
  position: relative;
  padding: 0 1.5vw;
}

.flex {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-left: -2.7vw;
}

.quarter {
  width: 25%;
}

.three-quarters {
  width: 75%;
}

.quarter,
.three-quarters {
  padding-left: 2.7vw;
}

#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 10vh;
}

#section1 {
  position: relative;
  min-height: 100vh;
  margin-bottom: 8vw;
}

#section2 {
  position: relative;
  z-index: 5;
}

// sec1

.sec1_fixed {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  .container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
} //sec1_fixed

.on_top {
  z-index: 3;
} //on-top

.sec1_title_wrap {
  text-align: center;
}

.sec1_title {
  color: $red;
  text-transform: uppercase;
  line-height: 1.1;
  font: {
    family: Perpetua Titling MT;
    size: 5.7vw;
    weight: 300;
  }
  .sec1_title_line {
    &:nth-child(1) {
      opacity: 0;
    }
    &:nth-child(2) {
      opacity: 1;
    }
    &:nth-child(3) {
      opacity: 0;
    }
  } //sec1_title_line
}

.on_top {
  .sec1_title_line {
    &:nth-child(1) {
      opacity: 1;
    }
    &:nth-child(2) {
      opacity: 0;
    }
    &:nth-child(3) {
      opacity: 1;
    }
  } //sec1_title_line
} //on-top

.section1_img1 {
  position: absolute;
  left: 50vw;
  bottom: 5.6vw;
  z-index: 2;
  transition: transform 1.6s 0.6s cubic-bezier(0.075, 0.82, 0.165, 1),
    opacity 1.6s 0s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 1.6s 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.sec1_img1_wrap {
  position: absolute;
  left: 50%;
  bottom: 50%;
  width: 25vw;
  height: 14vw;
  background-color: yellow;
  z-index: -4;
}

.intro_btn_wrap {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 1.2vw;
  z-index: 4;
  text-align: center;
  .intro_btn {
    width: 10vw;
    height: 10vw;
    transform: translate3d(0, 3.4vw, 0);
    text-align: center;
    display: inline-block;
    background-color: transparent;
    &:before {
      position: absolute;
      top: 2px;
      right: 2px;
      bottom: 2px;
      left: 2px;
      content: "";
      border-radius: 50%;
      background-color: $white;
      opacity: 1;
    }
  } //intro_btn
} //intro_btn_wrap

.intro_btn {
  position: relative;
  .btn_circle {
    width: 10vw;
    height: 10vw;
    margin-top: -5vw;
    margin-left: -5vw;
    position: absolute;
    top: 50%;
    left: 50%;
  } //btn_circle
} //intro_btn

//section2

.sec2_contents {
  display: flex;
  justify-content: flex-end;
  .sec2_right {
    width: 75%;
    padding-left: 3vw;
  }
}

.sec_bg {
  background-color: $white;
  transition: background 0.6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

// section2 - about

.about {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    z-index: 2;
    background-color: $red;
    transition: background 0.6s cubic-bezier(0.075, 0.82, 0.165, 1), transform 0.9s cubic-bezier(0.075, 0.82, 0.165, 1),
      -webkit-transform 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
} //about

.about_flex {
  display: flex;
  .about_left,
  .about_right {
    width: 50%;
  }
  .about_left {
    padding-left: 2.7vw;
  }
  .about_right {
    padding-left: 3vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
} //about_grid

.about_img_wrap {
  //overflow: hidden;
  .img {
    width: 100%;
    height: 100vh;
    background: {
      image: url("../img/me.jpg");

      size: cover;
      position: center center;
    }
  } //img
} //about_img_wrap

.about_text {
  padding-right: 3vw;
  font : {
    family: "Karla", sans-serif;
  }
  .about_desc {
    font : {
      size: 1.8vw;
      weight: 300;
    }
  }
}

//section2 - skill

.skill {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    z-index: 2;
    background-color: $red;
    transition: background 0.6s cubic-bezier(0.075, 0.82, 0.165, 1), transform 0.9s cubic-bezier(0.075, 0.82, 0.165, 1),
      -webkit-transform 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
  }
  .sec_bg {
    padding-top: 15vw;
  }
  .grid {
    height: 100vh;
  }
} //skill

.skill_title {
  max-width: 54vw;
  margin-left: 12.5vw;
  padding-bottom: 4.5vw;
  transition: transform 0.1 ease;
  font : {
    family: Perpetua Titling MT;
    size: 5.7vw;
  }
} //skill_title

.skill_contents {
  height: 100vh;
  .title {
    position: relative;
    padding: 1.2vw 0;

    &:before,
    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      height: 1px;
      background-color: $red;
      transition: background 0.6s cubic-bezier(0.075, 0.82, 0.165, 1),
        transform 0.9s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 0.9s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    &:before {
      top: 0;
    }
    &:after {
      bottom: 0;
    }
    h3 {
      text-transform: uppercase;
      font: {
        family: "Karla", sans-serif;
        size: 1.3vw;
      }
    }
  }
}

.skill_list {
  display: flex;
  flex-wrap: wrap;
  .skill_item {
    width: 50%;
    padding: 3.4vw 0 3.4vw 8.7vw;
    display: flex;
    align-items: center;
    &:nth-child(2n) {
      padding: 3.4vw 0 3.4vw 11.6vw;
      .item_logo {
        left: 2.8vw;
      }
    }
  } //skill_item
} //skill_list

.skill_item {
  position: relative;
  &:before {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 1px;
    content: "";
    background-color: $red;
  }

  .item_logo {
    position: absolute;
    left: 0;
    top: 3.4vw;
    width: 5vw;
    height: 5vw;
    .logo {
      width: 5vw;
      height: 5vw;
      background: {
        size: contain;
        position: center center;
        repeat: no-repeat;
      }
    }
  } //item_logo

  &:nth-child(2n-1):after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 1px;
    content: "";
    background-color: $red;
  }
} //skill_item

.logo_html {
  background: {
    image: url(../img/logo/html5.svg);
  }
} //item_html
.logo_css {
  background: {
    image: url(../img/logo/css3.svg);
  }
} //item_css
.logo_js {
  background: {
    image: url(../img/logo/logo-javascript.svg);
  }
} //item_js
.logo_react {
  background: {
    image: url(../img/logo/react.svg);
  }
} //item_react
.logo_type {
  background: {
    image: url(../img/logo/typescript.svg);
  }
} //item_type

.item_text {
  .item_name {
    margin-bottom: 1.2vw;
    font: {
      family: "Perpetua Titling MT";
      size: 1.2vw;
    }
  }
}
