// import
@import "./varibles";
@import "./layout";
@import "./mixin";
@import "./reset.scss";

//font

@import url("https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap");

@font-face {
  font-family: "S-CoreDream-9Black";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-9Black.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "S-CoreDream-2ExtraLight";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-2ExtraLight.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MapoFlowerIsland";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

//scroll show

.scroll_show {
  position: fixed;
  left: 3vw;
  top: 3vw;
  width: 100px;
  height: 70px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*
 *
 * Header SCSS
 *
 *
 */

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;

  .header_nav {
    display: grid;
    grid-template-columns: 10% 1fr 63%;
    min-height: 10vh;
    ul {
      grid-column: 2/3;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      justify-items: center;
      align-items: center;
    } //ul
  } //header_nav
  .mobile_nav {
    display: none;
  }
} //header

.header.scrolldown {
  background-color: rgba(255, 255, 255, 0.5);
}

.nav_list {
  .nav_item {
    text-transform: uppercase;
    color: $font-black;
    font: {
      family: "S-CoreDream-9Black";
      size: 0.8vw;
    }
  }
}

/*
 *
 * Profile SCSS
 *
 *
 */

.profile {
  margin-top: 10vh;
  .container {
    padding: 0 3vw;
  } //container
} //profile

.profile_contents {
  display: flex;
  .profile_left {
    width: 40vw;
    display: grid;
    grid-template-columns: 25% 1fr;
    z-index: 11;
  } //profile_left
  .profile_right {
    width: 60vw;
    z-index: 10;
  } //profile_right
} //profile_contents

.profile_contents {
  position: relative;
  padding-bottom: 25vh;
  .profile_slider {
    position: absolute;
    left: 0;
    top: 0;
    background: $black;
    width: 100%;
    height: 100%;
  }
}

.profile_title_box {
  height: 38vw;
  max-height: 800px;
  margin-top: 4vw;
  grid-column: 2/3;
  background-color: $yellow;
  transform: translateX(30%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: right;
  color: $font-black;
  .title {
    padding-bottom: 3vh;
    font: {
      family: "Abril Fatface", cursive;
      size: 5vw;
    }
  } //title
  .desc {
    line-height: 1.5;
    font: {
      family: "S-CoreDream-2ExtraLight";
      size: 1vw;
      weight: bold;
    }
  } //desc
  .mobile_desc {
    display: none;
  }
} //profile_title_box;

.profile_text {
  .title1,
  .title2 {
    display: block;
  }
} //profile_text

.profile_photo {
  padding-right: 3vw;
  transform: translateY(-10vh);
}

/*
 *
 * About SCSS
 *
 *
 */

.about {
  .container {
    padding: 0 3vw;
  } //container
} //about

.about_contents {
  background-color: $black;
  display: flex;

  .about_left {
    width: 40%;
  } //about_left
  .about_right {
    width: 60%;
    display: grid;
    grid-template-columns: 1fr 5vw;
    grid-template-rows: 10vh 1fr 10vh;
  } //about_right
} //about_contents

.about_photo {
  width: 100%;
  height: 100vh;
} //about_photo

.about_text {
  grid-row: 2/3;
  display: grid;
  grid-template-columns: 20vw 1fr;
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  color: $font-white;
  .about_title {
    grid-column: 1/3;
    transform: translateX(-10vw);
    line-height: 1.5;
    font: {
      family: MapoFlowerIsland;
      size: 5vw;
    }
    span {
      display: block;
    } //span
  } //about_title
  .about_desc {
    grid-row: 2/3;
    grid-column: 2/3;
    line-height: 1.5;
    font: {
      family: "S-CoreDream-2ExtraLight";
      size: 1vw;
      weight: bold;
    }
  } //about_desc
} //about_text

/*
* -------------------------------------------------------------------------
* Responsive
*
* Desktop
* (1025px ~ 1280px)
*
* -------------------------------------------------------------------------
*/

@include responsive("desktop") {
} //laptop-size

/*
* -------------------------------------------------------------------------
*
* Laptop
* (769px ~ 1024px)
*
* -------------------------------------------------------------------------
*/

@include responsive("laptop") {
  .profile_title_box {
    .desc {
      font: {
        size: 1.5vw;
      }
    } //desc
  } //profile_title_box

  .about_contents {
    .about_right {
      grid-template-columns: 5vw 1fr 5vw;
    } //about_right
  } //about_contents
  .about_text {
    grid-column: 2/3;
    grid-template-columns: 7vw 1fr;
    .about_title {
      transform: none;
    } //about_title
    .about_desc {
      font: {
        size: 1.5vw;
      }
    }
  } //about_text
} //laptop-size

/*
* -------------------------------------------------------------------------
*
* Tablet
* (376px ~ 768px)
*
* -------------------------------------------------------------------------
*/

@include responsive("tablet") {
  /*
   * Header
   */
  .header {
    background-color: $black;
    .header_nav {
      display: none;
    } //header_nav
    .mobile_nav {
      height: 10vh;
      padding: 0 5vw;
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: $font-white;
      font: {
        family: S-CoreDream-9Black;
        size: 3vw;
      }
    } //mobile_nav
  } //header

  /*
   * Profile 
   */

  .profile {
    .container {
      padding: 0;
    }
  }

  .profile_contents {
    flex-direction: column-reverse;
    padding-bottom: 15vh;
    .profile_left {
      width: 100%;
      display: flex;
    } //profile_left
    .profile_right {
      width: 100%;
    }
  } //profile_contents

  .profile_title_box {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 5vw;
    transform: none;
    background-color: transparent;
    justify-content: flex-start;
    align-items: flex-start;
    color: $font-white;
    text-align: left;
    .title {
      font: {
        family: MapoFlowerIsland;
        size: $profile-title-tablet;
      }
    } //title
    .desc {
      margin-bottom: 4vh;
      font: {
        size: 2.8vw;
      }
    } //desc
    .mobile_desc {
      display: block;
      line-height: 1.5;

      font: {
        family: "S-CoreDream-2ExtraLight";
        size: 2.8vw;
      }
    } //mobile_desc
  } //profile_title_box

  .profile_photo {
    padding: 5vw;
    transform: none;
  } //profile_photo

  /*
   * About 
   */

  .about {
    .container {
      padding: 0;
    } //container
  } //about

  .about_contents {
    flex-direction: column;

    .about_left {
      width: 100%;
    } //about_left
    .about_right {
      width: 100%;
      display: block;
    } //about_right
  } //about_contents

  .about_photo {
    padding: 5vw;
    width: 90vw;
    height: 70vmax;
  } //about_photo

  .about_text {
    padding: 5vw;
    display: block;
    .about_title {
      transform: translateY(-6vw);
      font: {
        size: 8vw;
      }
      span {
        display: block;
      } //span
    } //about_title
    .about_desc {
      margin-top: 5vh;
      font: {
        size: 2.8vw;
      }
    } //about_desc
  } //about_text
} //tablet-size

/*
* -------------------------------------------------------------------------
*
* Tablet- landscape 
* (813px ~ 1024px)
*
* -------------------------------------------------------------------------
*/

@include responsive("tablet_land") {
} //tablet_land-size

/*
* -------------------------------------------------------------------------
*
* Mobile 
* (320px ~ 375px)
*
* -------------------------------------------------------------------------
*/

@include responsive("mobile") {
  .profile_contents {
    padding-bottom: 10vh;
  } //profile_contents

  .about_photo {
    height: 50vh;
  } //about_photo
} //mobile-size

/*
* -------------------------------------------------------------------------
*
* Mobile - landscape 
* (567px ~ 812px)
*
* -------------------------------------------------------------------------
*/

@include responsive("mobile_land") {
} // mobile_land-size
