@import url("https://fonts.googleapis.com/css?family=Karla&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

html,
body {
  width: 100%;
  background-color: #fff; }

body::-webkit-scrollbar {
  display: none; }

a {
  text-decoration: none;
  color: inherit; }
  a:visited {
    color: inherit; }

img {
  width: 100%;
  border: 0 none; }

#page-background {
  background-color: #ebeded;
  color: #e83c38; }

@font-face {
  font-family: "Perpetua Titling MT";
  src: url(../fonts/PerpetuaTitlingMT-Light.woff2) format("woff2"), url(../fonts/PerpetuaTitlingMT-Light.woff) format("woff");
  font-weight: 300;
  font-style: normal; }

.container {
  position: relative;
  padding: 0 1.5vw; }

.flex {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-left: -2.7vw; }

.quarter {
  width: 25%; }

.three-quarters {
  width: 75%; }

.quarter,
.three-quarters {
  padding-left: 2.7vw; }

#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 10vh; }

#section1 {
  position: relative;
  min-height: 100vh;
  margin-bottom: 8vw; }

#section2 {
  position: relative;
  z-index: 5; }

.sec1_fixed {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1; }
  .sec1_fixed .container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; }

.on_top {
  z-index: 3; }

.sec1_title_wrap {
  text-align: center; }

.sec1_title {
  color: #e83c38;
  text-transform: uppercase;
  line-height: 1.1;
  font-family: Perpetua Titling MT;
  font-size: 5.7vw;
  font-weight: 300; }
  .sec1_title .sec1_title_line:nth-child(1) {
    opacity: 0; }
  .sec1_title .sec1_title_line:nth-child(2) {
    opacity: 1; }
  .sec1_title .sec1_title_line:nth-child(3) {
    opacity: 0; }

.on_top .sec1_title_line:nth-child(1) {
  opacity: 1; }

.on_top .sec1_title_line:nth-child(2) {
  opacity: 0; }

.on_top .sec1_title_line:nth-child(3) {
  opacity: 1; }

.section1_img1 {
  position: absolute;
  left: 50vw;
  bottom: 5.6vw;
  z-index: 2; }

.sec1_img1_wrap {
  position: absolute;
  left: 50%;
  bottom: 50%;
  width: 25vw;
  height: 14vw;
  background-color: yellow;
  z-index: -4; }

.sec2_contents {
  display: flex;
  justify-content: flex-end; }
  .sec2_contents .sec2_right {
    width: 75%;
    padding-left: 3vw; }

.sec_bg {
  background-color: #ebeded;
  transition: background 0.6s cubic-bezier(0.075, 0.82, 0.165, 1); }

.about {
  position: relative; }
  .about:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    z-index: 2;
    background-color: #e83c38;
    transition: background 0.6s cubic-bezier(0.075, 0.82, 0.165, 1), transform 0.9s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 0.9s cubic-bezier(0.075, 0.82, 0.165, 1); }

.about_grid {
  display: flex; }
  .about_grid .about_left,
  .about_grid .about_right {
    width: 50%;
    padding-left: 2.7vw; }
  .about_grid .about_right {
    padding-left: 3vw;
    display: flex;
    justify-content: center;
    align-items: center; }

.about_img_wrap .img {
  width: 100%;
  height: 100vh;
  background-image: url("../img/me.jpg");
  background-size: cover;
  background-position: center center; }

.about_text {
  padding-right: 3vw;
  font-family: "Karla", sans-serif; }
  .about_text .about_desc {
    font-size: 1.8vw;
    font-weight: 300; }

.skill {
  position: relative; }
  .skill:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    z-index: 2;
    background-color: #e83c38;
    transition: background 0.6s cubic-bezier(0.075, 0.82, 0.165, 1), transform 0.9s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 0.9s cubic-bezier(0.075, 0.82, 0.165, 1); }
  .skill .sec_bg {
    padding-top: 20vw; }
  .skill .grid {
    height: 100vh; }

.skill_title {
  max-width: 54vw;
  margin-left: 12.5vw;
  padding-bottom: 4.5vw;
  font-family: Perpetua Titling MT;
  font-size: 5.7vw; }

.skill_contents {
  height: 100vh; }
