@import url("https://fonts.googleapis.com/css?family=Karla&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: "";
  content: none; }

q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

html,
body {
  width: 100%;
  background-color: #fff; }

body::-webkit-scrollbar {
  display: none; }

a {
  text-decoration: none;
  color: inherit; }
  a:visited {
    color: inherit; }

img {
  width: 100%;
  border: 0 none; }

#page-background {
  background-color: #ebeded;
  color: #e83c38; }

@font-face {
  font-family: "Perpetua Titling MT";
  src: url(../fonts/PerpetuaTitlingMT-Light.woff2) format("woff2"), url(../fonts/PerpetuaTitlingMT-Light.woff) format("woff");
  font-weight: 300;
  font-style: normal; }

.scroll_show {
  position: fixed;
  left: 10px;
  top: 10px;
  z-index: 10000;
  width: 40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: center;
  line-height: 40px; }

.page-background-anim {
  transition: transform 1.6s 0.6s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 1.6s 0s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 1.6s 0.6s cubic-bezier(0.075, 0.82, 0.165, 1); }

.container {
  position: relative;
  padding: 0 1.5vw; }

.flex {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-left: -2.7vw; }

.quarter {
  width: 25%; }

.three-quarters {
  width: 75%; }

.quarter,
.three-quarters {
  padding-left: 2.7vw; }

#header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 10vh; }

#section1 {
  position: relative;
  min-height: 100vh;
  margin-bottom: 8vw; }

#section2 {
  position: relative;
  z-index: 5; }

.sec1_fixed {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1; }
  .sec1_fixed .container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center; }

.on_top {
  z-index: 3; }

.sec1_title_wrap {
  text-align: center; }

.sec1_title {
  color: #e83c38;
  text-transform: uppercase;
  line-height: 1.1;
  font-family: Perpetua Titling MT;
  font-size: 5.7vw;
  font-weight: 300; }
  .sec1_title .sec1_title_line:nth-child(1) {
    opacity: 0; }
  .sec1_title .sec1_title_line:nth-child(2) {
    opacity: 1; }
  .sec1_title .sec1_title_line:nth-child(3) {
    opacity: 0; }

.on_top .sec1_title_line:nth-child(1) {
  opacity: 1; }

.on_top .sec1_title_line:nth-child(2) {
  opacity: 0; }

.on_top .sec1_title_line:nth-child(3) {
  opacity: 1; }

.section1_img1 {
  position: absolute;
  left: 50vw;
  bottom: 5.6vw;
  z-index: 2;
  transition: transform 1.6s 0.6s cubic-bezier(0.075, 0.82, 0.165, 1), opacity 1.6s 0s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 1.6s 0.6s cubic-bezier(0.075, 0.82, 0.165, 1); }

.sec1_img1_wrap {
  position: absolute;
  left: 50%;
  bottom: 50%;
  width: 25vw;
  height: 14vw;
  background-color: yellow;
  z-index: -4; }

.intro_btn_wrap {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 1.2vw;
  z-index: 4;
  text-align: center; }
  .intro_btn_wrap .intro_btn {
    width: 10vw;
    height: 10vw;
    transform: translate3d(0, 3.4vw, 0);
    text-align: center;
    display: inline-block;
    background-color: transparent; }
    .intro_btn_wrap .intro_btn:before {
      position: absolute;
      top: 2px;
      right: 2px;
      bottom: 2px;
      left: 2px;
      content: "";
      border-radius: 50%;
      background-color: #ebeded;
      opacity: 1; }

.intro_btn {
  position: relative; }
  .intro_btn .btn_circle {
    width: 10vw;
    height: 10vw;
    margin-top: -5vw;
    margin-left: -5vw;
    position: absolute;
    top: 50%;
    left: 50%; }

.sec2_contents {
  display: flex;
  justify-content: flex-end; }
  .sec2_contents .sec2_right {
    width: 75%;
    padding-left: 3vw; }

.sec_bg {
  background-color: #ebeded;
  transition: background 0.6s cubic-bezier(0.075, 0.82, 0.165, 1); }

.about {
  position: relative; }
  .about:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    z-index: 2;
    background-color: #e83c38;
    transition: background 0.6s cubic-bezier(0.075, 0.82, 0.165, 1), transform 0.9s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 0.9s cubic-bezier(0.075, 0.82, 0.165, 1); }

.about_flex {
  display: flex; }
  .about_flex .about_left,
  .about_flex .about_right {
    width: 50%; }
  .about_flex .about_left {
    padding-left: 2.7vw; }
  .about_flex .about_right {
    padding-left: 3vw;
    display: flex;
    justify-content: center;
    align-items: center; }

.about_img_wrap .img {
  width: 100%;
  height: 100vh;
  background-image: url("../img/me.jpg");
  background-size: cover;
  background-position: center center; }

.about_text {
  padding-right: 3vw;
  font-family: "Karla", sans-serif; }
  .about_text .about_desc {
    font-size: 1.8vw;
    font-weight: 300; }

.skill {
  position: relative; }
  .skill:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    z-index: 2;
    background-color: #e83c38;
    transition: background 0.6s cubic-bezier(0.075, 0.82, 0.165, 1), transform 0.9s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 0.9s cubic-bezier(0.075, 0.82, 0.165, 1); }
  .skill .sec_bg {
    padding-top: 15vw; }
  .skill .grid {
    height: 100vh; }

.skill_title {
  max-width: 54vw;
  margin-left: 12.5vw;
  padding-bottom: 4.5vw;
  transition: transform 0.1 ease;
  font-family: Perpetua Titling MT;
  font-size: 5.7vw; }

.skill_contents {
  height: 100vh; }
  .skill_contents .title {
    position: relative;
    padding: 1.2vw 0; }
    .skill_contents .title:before, .skill_contents .title:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      height: 1px;
      background-color: #e83c38;
      transition: background 0.6s cubic-bezier(0.075, 0.82, 0.165, 1), transform 0.9s cubic-bezier(0.075, 0.82, 0.165, 1), -webkit-transform 0.9s cubic-bezier(0.075, 0.82, 0.165, 1); }
    .skill_contents .title:before {
      top: 0; }
    .skill_contents .title:after {
      bottom: 0; }
    .skill_contents .title h3 {
      text-transform: uppercase;
      font-family: "Karla", sans-serif;
      font-size: 1.3vw; }

.skill_list {
  display: flex;
  flex-wrap: wrap; }
  .skill_list .skill_item {
    width: 50%;
    padding: 3.4vw 0 3.4vw 8.7vw;
    display: flex;
    align-items: center; }
    .skill_list .skill_item:nth-child(2n) {
      padding: 3.4vw 0 3.4vw 11.6vw; }
      .skill_list .skill_item:nth-child(2n) .item_logo {
        left: 2.8vw; }

.skill_item {
  position: relative; }
  .skill_item:before {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 1px;
    content: "";
    background-color: #e83c38; }
  .skill_item .item_logo {
    position: absolute;
    left: 0;
    top: 3.4vw;
    width: 5vw;
    height: 5vw; }
    .skill_item .item_logo .logo {
      width: 5vw;
      height: 5vw;
      background-size: contain;
      background-position: center center;
      background-repeat: no-repeat; }
  .skill_item:nth-child(2n-1):after {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 1px;
    content: "";
    background-color: #e83c38; }

.logo_html {
  background-image: url(../img/logo/html5.svg); }

.logo_css {
  background-image: url(../img/logo/css3.svg); }

.logo_js {
  background-image: url(../img/logo/logo-javascript.svg); }

.logo_react {
  background-image: url(../img/logo/react.svg); }

.logo_type {
  background-image: url(../img/logo/typescript.svg); }

.item_text .item_name {
  margin-bottom: 1.2vw;
  font-family: "Perpetua Titling MT";
  font-size: 1.2vw; }
