@import url("https://fonts.googleapis.com/css?family=Jua&display=swap");
@import url("https://fonts.googleapis.com/css?family=Playfair+Display&display=swap");
@font-face {
  font-family: "BMEULJIRO";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/BMEULJIRO.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "DungGeunMo";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "YiSunShinDotumM";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/YiSunShinDotumM.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

.wrap {
  margin: 0 40px; }

.main-profile {
  width: 100%;
  position: relative;
  background-color: #1c1c1c;
  margin-top: 160px;
  padding: 950px 0 100px 200px; }
  .main-profile .profile__title {
    width: 750px;
    height: 450px;
    padding: 30px;
    background-color: #fed000;
    position: absolute;
    top: 320px;
    right: 660px;
    z-index: 10;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    color: #333334; }
    .main-profile .profile__title .title__position {
      text-transform: uppercase;
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 20px; }
    .main-profile .profile__title .title__name {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      flex-direction: column;
      font-family: "Playfair Display", serif;
      font-size: 100px;
      font-weight: 700;
      margin-bottom: 20px; }
    .main-profile .profile__title .title__desc {
      font-family: "YiSunShinDotumM", sans-serif;
      font-size: 20px; }
  .main-profile .profile__photo {
    width: 800px;
    height: 1000px;
    background-image: url(../images/black.jpg);
    background-size: cover;
    background-position: bottom right;
    position: absolute;
    top: -160px;
    right: 40px; }
    .main-profile .profile__photo::after {
      content: "";
      width: 7px;
      height: 100%;
      background-color: #fed000;
      position: absolute;
      top: 0;
      right: 0; }
  .main-profile .profile__about .about__title {
    width: 90%;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-bottom: 70px; }
    .main-profile .profile__about .about__title .sub-title {
      width: 100px;
      height: 30px;
      line-height: 30px;
      color: #333334;
      background-color: #fed000;
      text-transform: uppercase;
      text-align: center;
      font-weight: 700; }
  .main-profile .about__contents {
    color: #fceed3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    margin-left: 10px;
    font-family: "YiSunShinDotumM", sans-serif; }
    .main-profile .about__contents .cont, .main-profile .about__contents .contents__cont1, .main-profile .about__contents .contents__cont2, .main-profile .about__contents .contents__cont3, .main-profile .about__contents .contents__cont4 {
      width: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 100px; }
      .main-profile .about__contents .cont .cont__photo, .main-profile .about__contents .contents__cont1 .cont__photo, .main-profile .about__contents .contents__cont2 .cont__photo, .main-profile .about__contents .contents__cont3 .cont__photo, .main-profile .about__contents .contents__cont4 .cont__photo {
        width: 400px;
        height: 300px; }
        .main-profile .about__contents .cont .cont__photo .photo, .main-profile .about__contents .contents__cont1 .cont__photo .photo, .main-profile .about__contents .contents__cont2 .cont__photo .photo, .main-profile .about__contents .contents__cont3 .cont__photo .photo, .main-profile .about__contents .contents__cont4 .cont__photo .photo {
          width: 100%;
          height: 100%;
          background-color: #fed000; }
      .main-profile .about__contents .cont .cont__desc, .main-profile .about__contents .contents__cont1 .cont__desc, .main-profile .about__contents .contents__cont2 .cont__desc, .main-profile .about__contents .contents__cont3 .cont__desc, .main-profile .about__contents .contents__cont4 .cont__desc {
        width: 60%;
        height: 300px; }
        .main-profile .about__contents .cont .cont__desc .title, .main-profile .about__contents .contents__cont1 .cont__desc .title, .main-profile .about__contents .contents__cont2 .cont__desc .title, .main-profile .about__contents .contents__cont3 .cont__desc .title, .main-profile .about__contents .contents__cont4 .cont__desc .title {
          font-size: 40px;
          font-weight: 700;
          margin-bottom: 20px; }
        .main-profile .about__contents .cont .cont__desc .date, .main-profile .about__contents .contents__cont1 .cont__desc .date, .main-profile .about__contents .contents__cont2 .cont__desc .date, .main-profile .about__contents .contents__cont3 .cont__desc .date, .main-profile .about__contents .contents__cont4 .cont__desc .date {
          font-size: 20px;
          margin-bottom: 20px; }
        .main-profile .about__contents .cont .cont__desc .desc, .main-profile .about__contents .contents__cont1 .cont__desc .desc, .main-profile .about__contents .contents__cont2 .cont__desc .desc, .main-profile .about__contents .contents__cont3 .cont__desc .desc, .main-profile .about__contents .contents__cont4 .cont__desc .desc {
          font-size: 24px;
          font-weight: 500;
          font-family: "Playfair Display", serif;
          line-height: 150%; }

.profile__skill .skill__title {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-bottom: 70px; }
  .profile__skill .skill__title .sub-title {
    width: 100px;
    height: 30px;
    line-height: 30px;
    color: #333334;
    background-color: #fed000;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700; }

.profile__skill .skill__contents {
  color: #fceed3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column wrap;
  margin-left: 10px;
  font-family: "YiSunShinDotumM", sans-serif; }
  .profile__skill .skill__contents .contents__container {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; }
    .profile__skill .skill__contents .contents__container .skill__component {
      width: 350px;
      height: 350px;
      margin: 30px;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      padding-top: 20px; }
      .profile__skill .skill__contents .contents__container .skill__component:hover .skill__img {
        filter: none; }
      .profile__skill .skill__contents .contents__container .skill__component .skill__img {
        width: 100px;
        height: 100px;
        position: relative;
        filter: grayscale(100%); }
        .profile__skill .skill__contents .contents__container .skill__component .skill__img::after {
          position: absolute;
          top: 30px;
          right: -200px;
          content: "90%";
          font-size: 70px;
          font-weight: 700; }
      .profile__skill .skill__contents .contents__container .skill__component .logo1 {
        background-image: url(../images/logo/html5.svg);
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat; }
      .profile__skill .skill__contents .contents__container .skill__component .logo2 {
        background-image: url(../images/logo/css3.svg);
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat; }
      .profile__skill .skill__contents .contents__container .skill__component .logo3 {
        background-image: url(../images/logo/logo-javascript.svg);
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat; }
      .profile__skill .skill__contents .contents__container .skill__component .logo4 {
        background-image: url(../images/logo/react.svg);
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat; }
      .profile__skill .skill__contents .contents__container .skill__component .logo5 {
        background-image: url(../images/logo/typescript.svg);
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat; }
      .profile__skill .skill__contents .contents__container .skill__component .logo6 {
        background-image: url(../images/logo/graphql.svg);
        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat; }
      .profile__skill .skill__contents .contents__container .skill__component .skill__desc {
        margin-left: 20px;
        font-size: 20px;
        font-weight: 700; }
        .profile__skill .skill__contents .contents__container .skill__component .skill__desc .title {
          margin-bottom: 20px;
          font-size: 30px;
          font-weight: 700; }

.main-project {
  width: 100%;
  height: 950px;
  margin: 300px 0; }
  .main-project .project__container {
    position: relative; }
    .main-project .project__container .project__center-box {
      width: 80%;
      height: 350px;
      position: absolute;
      top: 300px;
      right: 0;
      background-color: #fed000; }
    .main-project .project__container .project__desc-box {
      width: 400px;
      height: 350px;
      display: flex;
      flex-direction: column;
      position: absolute;
      left: 450px;
      top: 370px;
      color: #333334;
      font-family: "Playfair Display", serif; }
      .main-project .project__container .project__desc-box .index {
        text-transform: uppercase;
        margin-bottom: 20px; }
      .main-project .project__container .project__desc-box .name {
        margin-bottom: 20px;
        font-family: "YiSunShinDotumM", sans-serif;
        font-size: 70px;
        font-weight: 700; }
      .main-project .project__container .project__desc-box .desc {
        margin-bottom: 20px;
        font-size: 20px;
        font-weight: 500; }
    .main-project .project__container .project_photo1 {
      width: 400px;
      height: 300px;
      position: absolute;
      right: 470px;
      top: 140px;
      background-color: #1c1c1c; }
    .main-project .project__container .project_photo2 {
      width: 300px;
      height: 350px;
      position: absolute;
      right: 130px;
      top: 400px;
      background-color: #1c1c1c; }

.main-mini {
  width: 100%;
  height: 2250px; }
  .main-mini .mini__container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column; }
    .main-mini .mini__container::before {
      width: 4px;
      height: 100%;
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      background-color: #fed000; }
    .main-mini .mini__container .mini__title {
      width: 150px;
      height: 30px;
      position: absolute;
      top: -15px;
      left: 880px;
      line-height: 30px;
      color: #fceed3;
      background-color: #1c1c1c;
      text-transform: uppercase;
      text-align: center;
      font-weight: 700; }
    .main-mini .mini__container .cont, .main-mini .mini__container .main-profile .about__contents .contents__cont1, .main-profile .about__contents .main-mini .mini__container .contents__cont1, .main-mini .mini__container .main-profile .about__contents .contents__cont2, .main-profile .about__contents .main-mini .mini__container .contents__cont2, .main-mini .mini__container .main-profile .about__contents .contents__cont3, .main-profile .about__contents .main-mini .mini__container .contents__cont3, .main-mini .mini__container .main-profile .about__contents .contents__cont4, .main-profile .about__contents .main-mini .mini__container .contents__cont4 {
      width: 80%;
      height: 500px;
      margin: 50px 0;
      position: relative; }
      .main-mini .mini__container .cont::before, .main-mini .mini__container .main-profile .about__contents .contents__cont1::before, .main-profile .about__contents .main-mini .mini__container .contents__cont1::before, .main-mini .mini__container .main-profile .about__contents .contents__cont2::before, .main-profile .about__contents .main-mini .mini__container .contents__cont2::before, .main-mini .mini__container .main-profile .about__contents .contents__cont3::before, .main-profile .about__contents .main-mini .mini__container .contents__cont3::before, .main-mini .mini__container .main-profile .about__contents .contents__cont4::before, .main-profile .about__contents .main-mini .mini__container .contents__cont4::before {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 150px;
        left: 739px;
        content: "";
        border-radius: 50%;
        background-color: #fed000; }
      .main-mini .mini__container .cont .mini__desc-box, .main-mini .mini__container .main-profile .about__contents .contents__cont1 .mini__desc-box, .main-profile .about__contents .main-mini .mini__container .contents__cont1 .mini__desc-box, .main-mini .mini__container .main-profile .about__contents .contents__cont2 .mini__desc-box, .main-profile .about__contents .main-mini .mini__container .contents__cont2 .mini__desc-box, .main-mini .mini__container .main-profile .about__contents .contents__cont3 .mini__desc-box, .main-profile .about__contents .main-mini .mini__container .contents__cont3 .mini__desc-box, .main-mini .mini__container .main-profile .about__contents .contents__cont4 .mini__desc-box, .main-profile .about__contents .main-mini .mini__container .contents__cont4 .mini__desc-box {
        width: 400px;
        height: 242px;
        display: flex;
        flex-direction: column;
        color: #333334;
        font-family: "Playfair Display", serif; }
        .main-mini .mini__container .cont .mini__desc-box .index, .main-mini .mini__container .main-profile .about__contents .contents__cont1 .mini__desc-box .index, .main-profile .about__contents .main-mini .mini__container .contents__cont1 .mini__desc-box .index, .main-mini .mini__container .main-profile .about__contents .contents__cont2 .mini__desc-box .index, .main-profile .about__contents .main-mini .mini__container .contents__cont2 .mini__desc-box .index, .main-mini .mini__container .main-profile .about__contents .contents__cont3 .mini__desc-box .index, .main-profile .about__contents .main-mini .mini__container .contents__cont3 .mini__desc-box .index, .main-mini .mini__container .main-profile .about__contents .contents__cont4 .mini__desc-box .index, .main-profile .about__contents .main-mini .mini__container .contents__cont4 .mini__desc-box .index {
          text-transform: uppercase;
          margin-bottom: 20px; }
        .main-mini .mini__container .cont .mini__desc-box .name, .main-mini .mini__container .main-profile .about__contents .contents__cont1 .mini__desc-box .name, .main-profile .about__contents .main-mini .mini__container .contents__cont1 .mini__desc-box .name, .main-mini .mini__container .main-profile .about__contents .contents__cont2 .mini__desc-box .name, .main-profile .about__contents .main-mini .mini__container .contents__cont2 .mini__desc-box .name, .main-mini .mini__container .main-profile .about__contents .contents__cont3 .mini__desc-box .name, .main-profile .about__contents .main-mini .mini__container .contents__cont3 .mini__desc-box .name, .main-mini .mini__container .main-profile .about__contents .contents__cont4 .mini__desc-box .name, .main-profile .about__contents .main-mini .mini__container .contents__cont4 .mini__desc-box .name {
          margin-bottom: 20px;
          font-family: "YiSunShinDotumM", sans-serif;
          font-size: 70px;
          font-weight: 700; }
        .main-mini .mini__container .cont .mini__desc-box .desc, .main-mini .mini__container .main-profile .about__contents .contents__cont1 .mini__desc-box .desc, .main-profile .about__contents .main-mini .mini__container .contents__cont1 .mini__desc-box .desc, .main-mini .mini__container .main-profile .about__contents .contents__cont2 .mini__desc-box .desc, .main-profile .about__contents .main-mini .mini__container .contents__cont2 .mini__desc-box .desc, .main-mini .mini__container .main-profile .about__contents .contents__cont3 .mini__desc-box .desc, .main-profile .about__contents .main-mini .mini__container .contents__cont3 .mini__desc-box .desc, .main-mini .mini__container .main-profile .about__contents .contents__cont4 .mini__desc-box .desc, .main-profile .about__contents .main-mini .mini__container .contents__cont4 .mini__desc-box .desc {
          margin-bottom: 20px;
          font-size: 20px;
          font-weight: 500; }
    .main-mini .mini__container .mini__cont1 {
      display: flex;
      align-items: center;
      justify-content: flex-end; }
      .main-mini .mini__container .mini__cont1 .mini__photo {
        width: 250px;
        height: 200px;
        background-color: #fed000;
        margin-right: 45px; }
    .main-mini .mini__container .mini__cont2 {
      display: flex;
      align-items: center; }
      .main-mini .mini__container .mini__cont2 .mini__photo {
        width: 250px;
        height: 200px;
        background-color: #fed000;
        margin-left: 45px; }
    .main-mini .mini__container .mini__cont3 {
      display: flex;
      align-items: center;
      justify-content: flex-end; }
      .main-mini .mini__container .mini__cont3 .mini__photo {
        width: 250px;
        height: 200px;
        background-color: #fed000;
        margin-right: 45px; }
    .main-mini .mini__container .mini__cont4 {
      display: flex;
      align-items: center; }
      .main-mini .mini__container .mini__cont4 .mini__photo {
        width: 250px;
        height: 200px;
        background-color: #fed000;
        margin-left: 45px; }

.contact {
  width: 100%;
  height: 750px;
  background-color: #fed000;
  position: relative; }
  .contact .contact__title {
    width: 100px;
    height: 30px;
    position: absolute;
    top: -15px;
    left: 905px;
    line-height: 30px;
    color: #fceed3;
    background-color: #1c1c1c;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700; }
